/*!
 * Start Bootstrap - Stylish Portfolio Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

.btn-primary {
  margin: 4px;
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}

/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../assets/img/bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 50px 0;
}

/* Services */

.services {
    padding: 50px 0;
}

.service-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Map */

.map {
    height: 500px;
}

/div.ardp-date-picker {
  font-size:16px;
  font-family:Arial;
  box-sizing:border-box;
}
div.ardp-date-picker * {
    box-sizing:border-box;
}
div.ardp-date-picker div.calendar {
  position: absolute;
  z-index: 10;
  background: white;
  width: 260px;
  padding: 5px;
  color: #244152;
  border-radius: 3px;
  height: 203px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
div.ardp-date-picker div.calendar.calendar-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 100ms linear;
}
div.ardp-date-picker div.calendar.calendar-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 100ms, opacity 100ms linear;
}
div.ardp-date-picker div.calendar div.month-header {
  float: left;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}
div.ardp-date-picker div.calendar div.month-header > i {
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 3px;
  cursor: pointer;
  font-style:normal;
  font-size:0.7em;
}
div.ardp-date-picker div.calendar div.month-header > i:hover {
  background-color: #026aa7;
  color: white;
}
div.ardp-date-picker div.calendar div.week-header {
  float: left;
  width: 100%;
  margin-top: 8px;
  display: table;
  padding-bottom: 3px;
  border-bottom: solid 1px #CCC;
  margin-bottom: 3px;
}
div.ardp-date-picker div.calendar div.week-header > span {
  float: left;
  width: 14.285714285714286%;
  font-size: 0.6em;
  text-transform: uppercase;
  color: #026aa7;
  font-weight: bold;
  text-align: center;
}
div.ardp-date-picker div.calendar div.weeks {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 140px;
}
div.ardp-date-picker div.calendar div.weeks > div {
  position: absolute;
  width: 250px;
}
div.ardp-date-picker div.calendar div.weeks > div.current {
  left: 0;
}
div.ardp-date-picker div.calendar div.weeks > div.other {
  left: 250px;
}
div.ardp-date-picker div.calendar div.weeks > div.other.right {
  left: -250px;
}
div.ardp-date-picker div.calendar div.weeks > div.sliding {
  transition: transform 250ms ease;
  -webkit-transition: -webkit-transform 250ms ease;
}
div.ardp-date-picker div.calendar div.weeks > div.sliding.left {
  transform: translate3d(-250px, 0, 0);
  -webkit-transform: translate3d(-250px, 0, 0);
}
div.ardp-date-picker div.calendar div.weeks > div.sliding.right {
  transform: translate3d(250px, 0, 0);
  -webkit-transform: translate3d(250px, 0, 0);
}
div.ardp-date-picker div.calendar div.weeks div.week {
  float: left;
  width: 100%;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day {
  float: left;
  width: 14.285714285714286%;
  font-size: 0.8em;
  padding: 4px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day:hover {
  background: #EAEAEA;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.other-month {
  color: #AAA;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled {
  color: #E0E0E0;
  cursor: default;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.disabled:hover {
  background: transparent !important;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.today {
  background: #68b53e;
  color: white;
}
div.ardp-date-picker div.calendar div.weeks div.week div.day.selected {
  background: #026aa7;
  color: white;
}

#logoImg {
  opacity: 0
}

#logoImg2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

input {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 4px;
}


@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

/* Footer */

footer {
    padding: 100px 0;
}